{% extends 'main.html' %}
{% load static %}

   {% block content %}


    <!-- Start Featured Product -->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 m-auto">
                    <h1 class="h2">Fitlife community</h1>
                    <p>
                        Здесь Вы можете делиться своими тренировками, личными достижениями, планами питания и просто хорошими
                        и интересными событиями из мира спорта с остальными участниками сообщества!
                    </p>

                </div>
            </div>

        </div>
    </section>
    <!-- End Featured Product -->






    <!-- Start Content -->

    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <h1 class="h2 pb-4">Tags: </h1>

              {% for tag in most_comm_tags %}
              <a class="btn btn-outline-success" href="{% url 'community:post_by_tag' tag.slug %}" role="button">{{ tag.name }}</a>
               {% endfor %}

                <hr>
                <a  class="btn btn-outline-secondary" href="{% url 'community:main_page' %}"> Показать все посты </a>
                <hr>

                <a  class="btn btn-outline-secondary" href="{% url 'community:create_post' %}"> Создать пост </a>
            </div>


            <div class="col-lg-10">
                <div class="row">

            {% for item in post %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body" style="height: 102px">
                                 <p> {{ item.title }} </p>
                            </div>
                            <div class="card rounded-0">

                                {% if item.image %}
                                <img class="thumbnail" src="{{ item.image.url }}">
                                {% else %}
                                <img class="thumbnail" src="{% static '/img/no-image-available.jpg' %}">
                                {% endif %}
                            </div>
                            <div class="card-body" style="height: 159px">
                                 <p> {{ item.text|safe|linebreaks|truncatewords:"5" }}</p>
                         <a  class="btn btn-outline-secondary" href="{{ item.get_absolute_url }}"> Читать далее </a>
                            </div>
                            <div class="card-body"style="height: 200px">
                                 <p> <strong>Author: </strong> {{ item.author }} </p>
                                <p> <strong>Date:  </strong> {{ item.created | date:"d-m-Y H:i:s" }} </p>
                                 <p> <strong>Tags: </strong>
                                  {% for tag in item.tags.all %}
                                        <a class="btn btn-outline-success" href="{% url 'community:post_by_tag' tag.slug %}" role="button">{{ tag.name }}</a>
                                  {% endfor %}

                                 </p>
                            </div>
                        </div>
                    </div>
            {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- End Content -->


  {% endblock content %}