{% extends 'profile.html' %}
{% load static %}



{% block profile %}
    <div class="container">
        <div class="row">

            <div class="col-lg-10">
                <div style="padding: 20px">

                            <h1 class="h2">Добавить новый пост</h1>
                                {#    указать при загрузке изображения enctype="multipart/form-data" #}
                                <form action="{% url 'community:create_post' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}

                                {{ form.as_p }}
                                  <button type="submit" class=" btn-outline-success form-control"> Добавить пост</button>

                                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


