{% extends 'core/profile.html' %}
{% load static %}



{% block profile %}
     <div class="box-element">
               <div class="cart-row">
					<div style="flex:1.4"><strong>Изображение</strong></div>
					<div style="flex:2"><strong style="margin-left:10px">Название</strong></div>
					<div style="flex:2"><strong>Дата добавления</strong></div>
                   	<div style="flex:2"><strong>Редактировать</strong></div>
                  	<div style="flex:2"><strong>Удалить</strong></div>
				</div>

                    {% for item in post %}
				<div class="cart-row" >

					<div style="flex:1.4"><img class="row-image" src="{{ item.image.url }}" style="margin-top: 8px; margin-left:10px"></div>
					<div style="flex:2"><a class="text-decoration-none text-secondary" href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
					<div style="flex:2"><p>{{ item.created | date:'Y.m.d  H:m' }}</p></div>
                    <div style="flex:2"><p></p><a  class="btn btn-outline-success" href="#"> Редактировать пост </a></div>
                    <div style="flex:2"><p></p><a  class="btn btn-outline-danger" href="{% url 'community:delete_post' item.pk %}"> Удалить пост </a></div>



				</div>
                {% endfor %}
     </div>


{% endblock %}
