{% extends 'main.html' %}
{% load static %}

   {% block content %}

    <section class="our_command_color">
        <div class="container">
            <div class="row align-items-center py-1">
                <div class="col-md-12 text-black" style="padding: 1rem">
                    <h1 style="text-align: center">Информация о команде</h1>
                    <p style="text-align: center">
                      Мы команда профессионалов!
                     </p>

        <div class="row">
                    <div class="card" style="width: 25rem; margin: 10px">
                          <img src="{% static 'img/van_damme.jpg' %}" width="374" height="210" class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">Jean-Claude Van Damme</h5>
                              <div class="staff-card__text">Элит-тренер тренажёрного зала<br />
                    <br />
                                  <strong> Образование и сертификаты: </strong><br />
                    <br />
                    ∙ Спортивная академия<br />
                    ∙ Сертифицированный тренер <br />
                    <br />

                                  <strong> Спортивные достижения: </strong><br />
                    <br />
                    ∙ Карате <br />
                    ∙ Кикбоксинг<br />

                    <br />
                                  <strong> Фитнес специализация:</strong><br />
                    <br />
                    ∙ снижение веса<br />
                    ∙ функциональный тренинг<br />
                          </div>

                          </div>
                        </div>

                    <div class="card" style="width: 25rem; margin: 10px;">
                          <img src="{% static 'img/bruce-lee.jpg' %}" width="374" height="210"  class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">Bruce Lee</h5>
                              <div class="staff-card__text">Элит-тренер тренажёрного зала<br />
                    <br />
                                  <strong> Образование и сертификаты: </strong><br />
                    <br />
                    ∙ Спортивная академия<br />
                    ∙ Сертифицированный тренер <br />
                    <br />

                                  <strong> Спортивные достижения: </strong><br />
                    <br />
                    ∙ Карате <br />
                    ∙ Кикбоксинг<br />

                    <br />
                                  <strong> Фитнес специализация:</strong><br />
                    <br />
                    ∙ снижение веса<br />
                    ∙ функциональный тренинг<br />
                          </div>

                          </div>
                        </div>

                    <div class="card" style="width: 25rem; margin: 10px;">
                          <img src="{% static 'img/stallone.jpg' %}" width="374" height="210"  class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">Sylvester Stallone</h5>
                              <div class="staff-card__text">Элит-тренер тренажёрного зала<br />
                    <br />
                                  <strong> Образование и сертификаты: </strong><br />
                    <br />
                    ∙ Спортивная академия<br />
                    ∙ Сертифицированный тренер <br />
                    <br />

                                  <strong> Спортивные достижения: </strong><br />
                    <br />
                    ∙ Карате <br />
                    ∙ Кикбоксинг<br />

                    <br />
                                  <strong> Фитнес специализация:</strong><br />
                    <br />
                    ∙ снижение веса<br />
                    ∙ функциональный тренинг<br />                          </div>

                          </div>
                        </div>
</div>











                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->




  {% endblock content %}