{% extends 'main.html' %}
{% load static %}

   {% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Покупка  абонемента</h1>
    <p class="lead"> Цены на абонементы для посещения тренажерного зала</p>
    <hr>
    </div>

            <div class="col-lg-10 container-fluid">
                <div class="row">

            {% for item in subscription %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card-body" style="height: 102px">
                                 <p> {{ item.get_title_display }} </p>
                            </div>


                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal"> {{ item.description }} </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"><span>&#8381;</span> {{ item.price }} </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                </ul>

                                         {% if request.user.is_authenticated %}
                           <a href="{% url 'membership:add_membership' item.pk %}">
                               <button type="button" class="btn btn-sm btn-outline-secondary" > Купить </button>
                           </a>
                                <hr>
                                  {% else %}
                               <h2> Need registration to buy</h2>
                                  {% endif%}

                            </div>



                        </div>
                    </div>
            {% endfor %}

                </div>
            </div>









  {% endblock content %}