{% extends 'main.html' %}
{% load static %}

   {% block content %}

{#<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">#}
{#        <div class="col">#}
{#          <div class="card shadow-sm">#}
{#            <img src="{% static 'store/img/garant.png' %}" height="240" >#}
{#            <div class="card-body">#}
{#              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод#}
{#                  к дополнительному контенту. Этот контент немного длиннее.</p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col">#}
{#          <div class="card shadow-sm">#}
{#            <img src="{% static 'store/img/done.png' %}" height="240" >#}
{#            <div class="card-body">#}
{#              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод#}
{#                  к дополнительному контенту. Этот контент немного длиннее.</p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col">#}
{#          <div class="card shadow-sm">#}
{#            <img src="{% static 'store/img/bottom-02.png' %}" height="240" >#}
{#            <div class="card-body">#}
{#              <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод#}
{#                  к дополнительному контенту. Этот контент немного длиннее.</p>#}
{#              <div class="d-flex justify-content-between align-items-center">#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{##}
{##}
{#      </div>#}



<div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-Заголовок">Fitlife. <span class="text-muted">Современный фитнес центр.</span></h2>
        <p class="lead">Приглашаем всех, кто хочет присоединиться к числу наших довольных клиентов,
            в фитнес центр «Fitlife» прямо в центре столицы.
            Здесь Вас ждут профессионально составленные программы занятий на любой вкус.
       </p>
      </div>
      <div class="col-md-5">
                 <img src="{% static 'store/img/fitLife_enter.jpg' %}" height="255" >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-Заголовок">Работаем круглосуточно. <span class="text-muted">Тренируйся в любое удобное для тебя время.</span></h2>
        <p class="lead">У нас нет ограничений по возрасту в разумных пределах.
            У нас удобный график работы! Приходите с 07.00 до 24.00 по будням и с 09.00 до 22.00 по выходным и праздникам. Мы Вам рады!</p>
      </div>
      <div class="col-md-5 order-md-1">
                       <img src="{% static 'store/img/24-7.png' %}" height="255" >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-Заголовок">Современные тренажеры. <span class="text-muted">Путь к идеальной форме.</span></h2>
        <p class="lead">Тренировки проводятся в залах, оборудованных в соответствии
            с требованиями безопасности и современными стандартами.
            Попробуйте свои силы на разных снарядах, которые позволят развить каждую группу мышц организма
        </p>
      </div>
      <div class="col-md-5">
                    <img src="{% static 'store/img/gym_room.jpg' %}" height="255" >
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>





    <!-- Start Content Page -->
    <div class="container-fluid">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>

                    <h2 class="h2 text-success border-bottom pb-3  logo">Fitlife company</h2>

                    <ul class="list-unstyled footer-link-list">
                        <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">fitlife@company.com</a>
                        </li>
                    </ul>

        </div>
    </div>









  {% endblock content %}