{% extends 'main.html' %}
{% load static %}

   {% block content %}

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-1">
                <div class="col-md-8 text-white" style="padding: 1rem">
                    <h1>About Us</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                    <ul>
                        <li> item 1 </li>
                        <li> item 2 </li>
                        <li> item 3 </li>
                        <li> item 4 </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->



    <!-- Start Content Page -->
    <div class="container-fluid" style="padding: 2rem">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">Contact Us</h1>

                    <h2 class="h2 text-success border-bottom pb-3  logo">Fitlife company</h2>

                    <ul class="list-unstyled footer-link-list">
                        <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">fitlife@company.com</a>
                        </li>
                    </ul>

        </div>
    </div>




  {% endblock content %}