    {% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'img/fitlife.jpg' %}" alt="логотип bootstrap" height="100">
        <small class="d-block mb-3 text-muted">© 2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Покупка абонемента</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{% url 'core:tariffs' %}">Тарифы</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Как связаться с нами</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{% url 'core:contact' %}">Контакты</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="{% url 'core:our_command' %}">Команда</a></li>

        </ul>
      </div>
    </div>
  </footer>