<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Fitlife</title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href=" {% static 'img/favicon.ico'%}">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/templatemo.css'%}">
    <link rel="stylesheet" href=" {% static 'css/custom.css' %}">

    <!-- My custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">







    <script type="text/javascript">
		var user = '{{request.user}}'
        console.log(user)
	</script>
</head>

<body>
         {% include 'navbar.html' %}

         <div class="container">
            <br>
            {% block content %}
            {% endblock content %}


         {% include 'footer.html' %}


         </div>




    <!-- Start Script -->
    <script src=" {% static 'js/jquery-1.11.0.min.js'%}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/templatemo.js' %} "></script>
    <script src=" {% static 'js/custom.js'%}"></script>
    <!-- End Script -->


{#  Customer script   #}
   <script type="text/javascript" src="{% static 'js/cart.js' %}"> </script>
   <script type="text/javascript" src="{% static 'js/cookie_token.js' %}"> </script>

</body>
</html>

