{% extends 'main.html' %}
{% load static %}

{% block content %}


    <div class="container py-5">
        <div class="row">

         {% include 'left_side.html' %}

            <div class="col-lg-9">

                {% block profile %}
<!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Главная страница профиля</h1>
                <p>
                    Общая информация о профиле
                </p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

                {% endblock %}

            </div>

        </div>
    </div>







{% endblock content %}
